:root {
    --bold-weight: 500;
    --background-color: #292e42;
    --container-background-color: #1f2335;
    --text-color: #a9b1d6;
    --accent-color: #ffc777;
    --title-color: #c0caf5;
    --good-header-color: #c3e88d;
    --bad-header-color: #c53b53;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    background-color: var(--container-background-color);
    min-height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border: 2px solid blue; */
}

.content {
    max-width: 70%;
    margin-block: 1rem;
    font-size: 1.2rem;
}

.comment {
    text-align: center;
    font-size: 1.2rem;
    color: var(--accent-color);
}

.emphasis {
    color: var(--accent-color);
}

p {
    line-height: 1.2rem;
}

h1 {
    color: var(--title-color);
    font-weight: var(--bold-weight);
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
}

h2 {
    font-weight: var(--bold-weight);
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-top: 1rem;
}

footer {
    text-align: center;
    background-color: var(--container-background-color);
    margin-top: auto;
    padding-block: 1rem;
    font-size: 0.8rem;
    width: 80%;
}

.chat {
    width: 100%;
    max-width: 600px;
    background-color: #1F1F1F;
    border: 2px solid #050505;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yourmessage,
.mymessage {
    padding: 10px 15px;
    margin-bottom: 10px;
}

.yourchatheading,
.mychatheating {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.yourname,
.myname {
    font-weight: bold;
    color: #949494;
}

.timestamp {
    color: #949494;
    margin-left: 5px;
}

.yourmessagebody,
.mymessagebody {
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-block;
    max-width: 80%;
}

.yourmessage {
    text-align: left;
}

.mymessage {
    text-align: right;
}

.yourmessagebody {
    background-color: #292929;
    color: #DEE0ED;
}

.mymessagebody {
    background-color: #323348;
    color: #DEE0ED;
}

.yourmessagebody:hover,
.mymessagebody:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bad {
    color: var(--bad-header-color);
}

.good {
    color: var(--good-header-color);
}
